@import "~bootstrap/scss/bootstrap.scss";

#barrasuperior{
    background-color: black;
    margin: auto;
    width: 25px;
  height: 100px;
}
#semaforo{
    background-color: black;
    margin: auto;
    width: 150px;
  height: 400px;
  border-radius: 15px;
  padding-top: 30px;
}
.rojo{
    margin: auto;
  width: 80px;
  height: 80px;
    background-color: red;
    border-radius: 100%;
		margin-top: 20px;
}
.rojoencendido{
    margin: auto;
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 30px 20px rgb(250, 100, 125);
    background-color:red;
    border-radius: 100%;
		margin-top: 20px;
}
.amarillo{
    margin: auto;
  width: 80px;
  height: 80px;
    background-color:yellow;
    border-radius: 100%;
    margin-top: 30px;
   
}
.amarilloencendido{
  margin: auto;
  width: 80px;
  height: 80px;
    background-color:yellow;
    box-shadow: 0px 0px 30px 20px rgb(250, 235, 100);
    border-radius: 100%;
    margin-top: 30px;
}
.verde{
    margin: auto;
  width: 80px;
  height: 80px;
    background-color:green;
    border-radius: 100%;
    margin-top: 30px;

}
.verdeencendido{
  margin: auto;
  width: 80px;
  height: 80px;
    background-color:green;
    box-shadow: 0px 0px 30px 20px rgb(43, 248, 43);
    border-radius: 100%;
    margin-top: 30px;
}